@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.addPost-box{
    background-color: #c6d21e;
    padding: 15px;
}

.addPost-box h3{
    text-align: center;
    text-transform: uppercase;
}

.title-post{
    width: 100%;
    padding: 15px 10px;
    font-size: 20px;
    border: none;
    outline: none;
    margin-bottom: 15px;
    font-family: 'Kaushan Script', cursive, sans-serif;
    border-radius: 5px;
}

.title-post::placeholder, .text-post::placeholder{
    font-size: 25px;
    color: #56571c;
    font-family: 'Kaushan Script', cursive, sans-serif;
}

.text-post{
    width: 100%;
    resize: none;
    min-height: 100px;
    outline: none;
    border: none;
    padding: 15px;
    font-size: 20px;
    font-family: 'Kaushan Script', cursive, sans-serif;
    border-radius: 5px;
}

.post-btn{
    border: none;
    background-color: white;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    font-size: 20px;
    font-family: 'Kaushan Script', cursive, sans-serif;
    color: #56571c;
    cursor: pointer;
    margin-left: 35%;
}

.post-btn:hover{
    border: 3px solid darkolivegreen;
}