@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.boxes{
    display: flex;
    justify-content: space-between;
}

.box{
    width: 33%;
    background-color: #ffffff;
    padding: 0 15px;
    margin-bottom: 20px;
    border-radius: 20px;;
}

.about{
    padding: 15px;
    background-color: #c6d21e;
    text-align: center;
    width: 100%;
}

.about h1{
    color: #56571c;
    font-family: 'Kaushan Script', cursive, sans-serif;
    font-size: 50px;
    margin: 0 0 10px;
}
.box p{
    font-size: 20px;
}