.contact-inner{
    width: 500px;
    margin: 0 auto 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
}

.contact{
    padding: 20px 15px;
    background-color: #c6d21e;
    text-align: center;
    width: 100%;
}

.contact h3{
    color: #56571c;
    font-family: 'Kaushan Script', cursive, sans-serif;
    font-size: 40px;
    margin: 0 0 10px;
}