@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

header{
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}

header a{
    display: inline-block;
    padding: 15px 60px;
    border-radius: 10px;
    background-color: #c6d21e;
    margin: 0 0 0 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.header-links{
    line-height: 29px;
}

header a:hover{
    background-color: olive;
    color: white;
}

header h2{
    font-family: 'Kaushan Script', cursive, sans-serif;
    margin: 0;
    font-size: 45px;
    color: #c6d21e;
}
